/* div.modal-reposo{
    margin: 0;
    padding: 0;
    width: 16.60;
    height: auto;
    overflow: hidden;
    transition: all 0.1s;
    float: left;
}
div.modal-activo{
    position: absolute;
    left: 0;
    z-index: 2000;
    margin: 0;
    padding: 100px 15%;
    width: 70%;
    overflow: hidden;
    border-radius: 0;
    background-color: rgb(0,0,0,0.6);
    float: left;
} */