/* CARD LOGIN */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);
@import "menu.css";
@import "modal.css";


* {
  font-family: sans-serif;
}

nav {
  color: white;
  background-color: rgb(32,101,136);
  padding-top: 15px;
  padding-bottom: 15px;
  height: 23px;

  font-family: sans-serif;
  font-size: 13px;
}

nav a {
  color: white;
  text-decoration: none;
}



.signup-login a {
  color: rgba(233,243,255,.8);
  text-decoration: none;
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
}
.clearfix {
  clear: both;
}
.signup-login p {
  padding-right: 4px;
  width: 150px;
  float:right;
  
}
 
.signup-login {
  margin-top: -22px;
  color: rgba(233,243,255,.8);
}
#sign-up-or {
  display: flex;
 }
.wider-signup {
width: 55px;
}

#header-text {
  margin-left: -155px;
}
